<nav id="docs-nav" class="docs-nav navbar">
  <ul class="section-items list-unstyled nav flex-column pb-3">
    <li class="nav-item section-title"><a class="nav-link scrollto active" href="#Introduction"><span class="theme-icon-holder me-2"><i class="fas fa-magnifying-glass"></i></span>Introduction</a></li>

    <li class="nav-item section-title mt-3"><a class="nav-link scrollto" href="#Installation"><span class="theme-icon-holder me-2"><i class="fas fa-arrow-down"></i></span>Installation</a></li>
    <% data.forEach(color=>{ %>
    <li class="nav-item"><a class="nav-link scrollto" href="#Installation_<%- color.id -%>"><%- color.name -%> Color</a></li>
    <% }) %>
    <li class="nav-item section-title mt-3"><a class="nav-link scrollto" href="#Usage"><span class="theme-icon-holder me-2"><i class="fas fa-code"></i></span>Usage</a></li>
    <li class="nav-item section-title mt-3"><a class="nav-link scrollto" href="#Colors"><span class="theme-icon-holder me-2"><i class="fas fa-palette"></i></span>Colors</a></li>
    <% data.forEach(color=>{ %>
    <li class="nav-item"><a class="nav-link scrollto" href="#Colors_<%- color.id -%>"><%- color.name -%> Color</a></li>
    <% }) %>
  </ul>
</nav>